<!-- partial for updating a game piece -->
<!DOCTYPE html>
<html>
  <head>
    <title>Update game space</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>

    <% include ../../navBar %>

    <div class="players-background">

    <div class="container">
        <h1>Update space: <%- space['name'] %></h1>
        <p>Update a game board space.</p>

        <hr>

        <div class="col-5">
          <form class="form-group" action="/board/space/update/<%- space['_id'] || "" %>" method="post">
            Name:<br><input class="form-control" type="text" name="name" value="<%- space['name'] || "" %>" required><br>
            Position:<br><input class="form-control" type="text" name="position" value="<%- space['position'] || "" %>" required><br>
            Type:<br><input class="form-control" type="text" name="type" value="<%- space['type'] || "" %>" required><br>
            ImageURL:<br><input class="form-control" type="text" name="imageURL" value="<%- space['imageURL'] || "" %>" required><br>
            Color:<br><input class="form-control" type="text" name="color" value="<%- space['color'] || "" %>" required><br>
            Cost:<br><input class="form-control" type="text" name="cost" value="<%- space['cost'] || "" %>" required><br>
            Rent:<br><input class="form-control" type="text" name="rent" value="<%- space['rent'] || "" %>" required><br>
            1 House:<br><input class="form-control" type="text" name="one_house" value="<%- space['one_house'] || "" %>" required><br>
            2 Houses:<br><input class="form-control" type="text" name="two_house" value="<%- space['two_house'] || "" %>" required><br>
            3 Houses:<br><input class="form-control" type="text" name="three_house" value="<%- space['three_house'] || "" %>" required><br>
            4 Houses:<br><input class="form-control" type="text" name="four_house" value="<%- space['four_house'] || "" %>" required><br>
            Hotel Rent:<br><input class="form-control" type="text" name="hotel_rent" value="<%- space['hotel_rent'] || "" %>" required><br>
            Mortgage Value:<br><input class="form-control" type="text" name="mortgage_value" value="<%- space['mortgage_value'] || "" %>" required><br>
            Building Cost:<br><input class="form-control" type="text" name="building_cost" value="<%- space['building_cost'] || "" %>" required><br>
            <div>
              <br>
              <input class="btn btn-primary btn-lg" role="button" type="submit" value="Submit"/><br><br><hr>
            </div>
          </form>
        </div>
    </div>
  </div>
  </body>
</html>
